.p-card-body {
  height: 100vh;
  overflow-y: auto !important;
}

.p-card-title {
  text-align: center !important;
}

.p-card {
  border-radius: 0px !important;
}

.p-inputtext::placeholder {
  opacity: 1 !important;
}

.p-datepicker-month,
.p-datepicker-year {
  background-color: white !important;
  height: 30px !important;
}

.errorMessage {
  color: red;
}
