.p-card-body {
  height: 100vh;
  overflow-y: auto !important;
}

.p-card-title {
  text-align: center !important;
}

.p-card {
  border-radius: 0px !important;
}

.p-inputtext::placeholder {
  opacity: 1 !important;
}
